<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
            <%=link_to(post.title, topic_post_path(@topic.id, post.id)) %>
        </h4>

        <small>
            Submitted <%=time_ago_in_words(post.created_at)%> ago by <%=post.user.name%> <br>
            <%=post.comments.size%> Comments
        </small>
    
    </div>
</div>
