 <%if current_user%>
    <div class="vote-arrows pull-left">
        <div><%= link_to " ", post_up_vote_path(post.id), method: :post, class: 'glyphicon glyphicon-chevron-up' %></div>
        <div><%=post.points%></div>
        <div><%= link_to " ", post_down_vote_path(post.id), method: :post, class: 'glyphicon glyphicon-chevron-down' %></div>
    </div>
<% end %>